
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                  <div class="mb-md-5 mt-md-4 pb-5">

                    <h2 class="fw-bold mb-2 text-uppercase">Inscription</h2>
                    <p class="text-white-50 mb-5">Please enter the following Information !</p>

                  <form [formGroup]="signUpForm">

                    <div class="form-outline form-white mb-4">

                      
                      <label class="form-label" for="user_id">User ID:</label>
                      <input type="text" id="user_id" formControlName="user_id"class="form-control form-control-lg">
                      <div *ngIf="this.signUpForm.get('userId')?.invalid && (this.signUpForm.get('userId')?.touched)"
    class="alert alert-danger">
                        <div class="form-label" *ngIf="this.signUpForm.get('userId')?.errors?.['required']">
                          userId is required.
                        </div>
                       
                      </div>

                    </div>

                    <div class="form-outline form-white mb-4">

                      
                        <label class="form-label" for="skills">skills:(comma-separated)</label>
                        <input type="text" id="skills" formControlName="skills"class="form-control form-control-lg">
                        <div *ngIf="this.signUpForm.get('userId')?.invalid && (this.signUpForm.get('skills')?.touched)"
      class="alert alert-danger">
                          <div class="form-label" *ngIf="this.signUpForm.get('skills')?.errors?.['required']">
                            skills is required.
                          </div>
                        
                        </div>
  
                      </div>

                      <div class="form-outline form-white mb-4">

                      
                        <label class="form-label" for="interests">interests:(comma-separated)</label>
                        <input type="text" id="interests" formControlName="interests"class="form-control form-control-lg">
                        <div *ngIf="this.signUpForm.get('userId')?.invalid && (this.signUpForm.get('interests')?.touched)"
      class="alert alert-danger">
                          <div class="form-label" *ngIf="this.signUpForm.get('interests')?.errors?.['required']">
                            interests is required.
                          </div>
                        
                        </div>
  
                      </div>

                 

                    <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="onSubmit()" [disabled]="signUpForm.invalid">Register</button>

                  </form>


                  </div>



                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- DEBUG -->
<!-- <pre>{{signUpForm.get('userId')?.valid}}</pre>
<pre>{{signUpForm.get('userEmail')?.valid}}</pre>
<pre>{{signUpForm.get('userName')?.valid}}</pre>
<pre>{{signUpForm.get('userTel')?.valid}}</pre>
<pre>{{signUpForm.get('userAddress')?.valid}}</pre>
<pre>{{signUpForm.get('userP')?.valid}}</pre> -->
    
