
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                  <div class="mb-md-5 mt-md-4 pb-5">

                    <h2 class="fw-bold mb-2 text-uppercase">Inscription</h2>
                    <p class="text-white-50 mb-5">Please enter the following Information !</p>

                  <form [formGroup]="signUpForm">

                    <div class="form-outline form-white mb-4">

                      
                      <label class="form-label" for="job_id">job_id:</label>
                      <input type="text" id="job_id" formControlName="job_id"class="form-control form-control-lg">
                      <div *ngIf="this.signUpForm.get('userId')?.invalid && (this.signUpForm.get('job_id')?.touched)"
    class="alert alert-danger">
                        <div class="form-label" *ngIf="this.signUpForm.get('job_id')?.errors?.['required']">
                            job_id is required.
                        </div>
                       
                      </div>

                    </div>

                    <div class="form-outline form-white mb-4">

                      
                        <label class="form-label" for="title">title</label>
                        <input type="text" id="title" formControlName="title"class="form-control form-control-lg">
                        <div *ngIf="this.signUpForm.get('userId')?.invalid && (this.signUpForm.get('title')?.touched)"
      class="alert alert-danger">
                          <div class="form-label" *ngIf="this.signUpForm.get('title')?.errors?.['required']">
                            title is required.
                          </div>
                        
                        </div>
  
                      </div>

                      <div class="form-outline form-white mb-4">

                      
                        <label class="form-label" for="description">description</label>
                        <input type="text" id="description" formControlName="description"class="form-control form-control-lg">
                        <div *ngIf="this.signUpForm.get('userId')?.invalid && (this.signUpForm.get('description')?.touched)"
      class="alert alert-danger">
                          <div class="form-label" *ngIf="this.signUpForm.get('description')?.errors?.['required']">
                            description is required.
                          </div>
                        
                        </div>
  
                      </div>

                      <div class="form-outline form-white mb-4">

                      
                        <label class="form-label" for="required_skills">required_skills</label>
                        <input type="text" id="required_skills" formControlName="required_skills"class="form-control form-control-lg">
                        <div *ngIf="this.signUpForm.get('userId')?.invalid && (this.signUpForm.get('required_skills')?.touched)"
      class="alert alert-danger">
                          <div class="form-label" *ngIf="this.signUpForm.get('required_skills')?.errors?.['required']">
                            required_skills is required.
                          </div>
                        
                        </div>
  
                      </div>

                      <div class="form-outline form-white mb-4">

                      
                        <label class="form-label" for="location">location</label>
                        <input type="text" id="location" formControlName="location"class="form-control form-control-lg">
                        <div *ngIf="this.signUpForm.get('userId')?.invalid && (this.signUpForm.get('location')?.touched)"
      class="alert alert-danger">
                          <div class="form-label" *ngIf="this.signUpForm.get('location')?.errors?.['required']">
                            location is required.
                          </div>
                        
                        </div>
  
                      </div>


                      <div class="form-outline form-white mb-4">

                      
                        <label class="form-label" for="industry">industry</label>
                        <input type="text" id="industry" formControlName="industry"class="form-control form-control-lg">
                        <div *ngIf="this.signUpForm.get('userId')?.invalid && (this.signUpForm.get('industry')?.touched)"
      class="alert alert-danger">
                          <div class="form-label" *ngIf="this.signUpForm.get('industry')?.errors?.['required']">
                            industry is required.
                          </div>
                        
                        </div>
  
                      </div>

                 

                    <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="onSubmit()" [disabled]="signUpForm.invalid">Register</button>

                  </form>


                  </div>



                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- DEBUG -->
<!-- <pre>{{signUpForm.get('userId')?.valid}}</pre>
<pre>{{signUpForm.get('userEmail')?.valid}}</pre>
<pre>{{signUpForm.get('userName')?.valid}}</pre>
<pre>{{signUpForm.get('userTel')?.valid}}</pre>
<pre>{{signUpForm.get('userAddress')?.valid}}</pre>
<pre>{{signUpForm.get('userP')?.valid}}</pre> -->
    
