.my-button {
    background-color: #ff3366;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
  }

  .my-button:hover {
    background-color: #e6005c;
  }

  .location-container {
    margin-top: 2rem;
  }

  .location-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }

  .no-jobs {
    color: #777777;
    font-size: 16px;
    margin-top: 1rem;
  }